In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

In [3]:
data = open('dataset.data', mode='rb')

In [4]:
import codecs
import struct
import numpy as np
import datetime

In [15]:
from sklearn.model_selection import train_test_split

In [5]:
path = 'dataset.data'
f2=open(path,'rb')
data1=[]
for i in range(16317653):
    byte=f2.read(16*8) 
    if not(byte):  break 
    a=list(struct.unpack('16d',byte))
    s = str(int(np.floor(a[0]))) 
    a[0:]=list(map(np.float32,a[0:]))     
    data1.append(a)
f2.close()

In [6]:
n = 1

In [7]:
print(data1[:n])

[[54.66, 83.5, 261.0, 0.2754, 0.7256, 2.79, 1.192, -0.447, 0.07214, 0.06174, -0.2676, 0.02916, 0.8896, 2.352, 0.5454, -0.03078]]

In [8]:
len =0
for x in data1:
    if x!=None: len = len+1

In [9]:
print(len)

16317653

In [6]:
column_names = ['longtitude', 'latitude', 'depth', 'time', 'Z', 'H - Z', 'gradH', 'dp/dn', 'dp/dm', 'U', 'V', 'divU', 'alpha', 'Re', 'R^2', 'l']

In [7]:
df_test = pd.DataFrame.from_records(data1, columns=column_names)

In [8]:
df_test.head()

,longtitude,latitude,depth,time,Z,H - Z,gradH,dp/dn,dp/dm,U,V,divU,alpha,Re,R^2,l
0,54.670631,83.506218,260.880829,0.275342,0.725510,2.789800,1.192818,-0.447001,0.072130,0.061722,-0.267463,0.029152,0.889412,2.352274,0.545451,-0.030779
1,55.111080,83.556976,261.147583,0.275342,0.726526,2.793218,0.802603,-0.464200,0.056923,-0.553077,-0.341917,-0.003265,0.568718,2.353654,0.533632,-0.031526
2,54.589870,83.542686,263.440247,0.275342,0.735251,2.822588,0.865545,-0.460881,0.062216,0.175442,-0.292802,-0.002900,0.620906,2.368468,0.557263,-0.029026
3,54.070358,83.527733,264.341461,0.275342,0.738681,2.834133,0.928600,-0.457937,0.068287,0.031956,-0.131709,-0.015809,0.672894,2.374336,0.571387,-0.025546
4,53.553162,83.512093,261.709930,0.275342,0.728666,2.800422,0.992928,-0.455722,0.073692,-0.319286,0.055675,-0.021748,0.725374,2.357569,0.560561,-0.021462

In [18]:
df_test.describe()

,longtitude,latitude,depth,time,Z,H - Z,gradH,dp/dn,dp/dm,U,V,divU,alpha,Re,R^2,l
count,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07,1.631765e+07
mean,6.110574e+01,7.685098e+01,9.005894e+01,5.122903e-01,7.955736e-02,2.868111e+00,2.236322e-01,-4.570616e-01,4.424198e-02,-7.105519e-02,-1.767850e-01,-4.407036e-02,1.268243e-01,2.172946e+00,2.638508e+00,2.857208e-03
std,1.002152e+02,4.847694e+00,7.927928e+01,2.849843e-01,3.035673e-01,5.077391e-01,6.963413e-01,1.220559e-01,1.932047e-01,9.165499e-01,1.001203e+00,5.263117e-01,5.605801e-01,2.791184e-01,1.608871e+00,2.555803e-02
min,-1.799903e+02,6.670249e+01,0.000000e+00,2.876712e-02,-2.673396e-01,6.598193e-01,-5.451422e-01,-1.097044e+00,-1.699144e+00,-9.679978e+00,-9.257706e+00,-7.843035e+00,-5.963866e-01,1.000026e+00,1.760163e-01,-1.766407e-01
25%,8.528100e+00,7.793107e+01,2.899467e+01,2.753425e-01,-1.569928e-01,2.473165e+00,-3.109824e-01,-4.709657e-01,-2.824470e-02,-4.902503e-01,-4.785170e-01,-2.625355e-01,-2.983946e-01,2.162104e+00,1.374801e+00,-9.900752e-03
50%,1.108898e+02,8.068726e+01,6.535324e+01,5.246575e-01,-1.862079e-02,2.824055e+00,3.972616e-02,-4.336215e-01,3.991347e-02,-1.108814e-01,-7.344660e-02,-4.448158e-02,-1.592595e-02,2.330215e+00,2.379150e+00,1.137844e-03
75%,1.254461e+02,8.305003e+01,1.345804e+02,7.767124e-01,2.448414e-01,3.181473e+00,5.276989e-01,-3.839369e-01,1.248369e-01,2.978205e-01,3.196520e-01,1.848699e-01,3.707089e-01,2.520707e+00,3.614134e+00,1.355768e-02
max,1.799992e+02,8.700593e+01,5.394152e+02,1.001370e+00,1.785545e+00,4.510154e+00,5.097567e+00,6.802204e-01,1.512203e+00,1.297517e+01,6.920198e+00,6.496640e+00,3.996173e+00,2.995381e+00,2.336407e+01,2.840675e-01

In [12]:
df_test.isna().sum()

longtitude    0
latitude      0
depth         0
time          0
Z             0
H - Z         0
gradH         0
dp/dn         0
dp/dm         0
U             0
V             0
divU          0
alpha         0
Re            0
R^2           0
l             0
dtype: int64

In [14]:
df_test.Z.sum()

inf

In [9]:
X = df_test.drop(['longtitude', 'latitude', 'depth', 'time'], axis=1)

In [17]:
print(train.shape)

(13054122, 12)

In [10]:
X.dropna(axis=0, subset=['l'], inplace=True)
y = X.l             
X.drop(['l'], axis=1, inplace=True)

In [27]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 16317653 entries, 0 to 16317652
Series name: l
Non-Null Count     Dtype
--------------     -----
16317653 non-null  float16
dtypes: float16(1)
memory usage: 31.1 MB

In [28]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16317653 entries, 0 to 16317652
Data columns (total 11 columns):
 #   Column  Dtype
---  ------  -----
 0   a       float16
 1   b       float16
 2   c       float16
 3   d       float16
 4   e       float16
 5   f       float16
 6   g       float16
 7   h       float16
 8   i       float16
 9   j       float16
 10  k       float16
dtypes: float16(11)
memory usage: 342.4 MB

In [16]:
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [40]:
X_valid_full.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3263531 entries, 9607598 to 10763460
Data columns (total 11 columns):
 #   Column  Dtype
---  ------  -----
 0   a       float16
 1   b       float16
 2   c       float16
 3   d       float16
 4   e       float16
 5   f       float16
 6   g       float16
 7   h       float16
 8   i       float16
 9   j       float16
 10  k       float16
dtypes: float16(11)
memory usage: 93.4 MB

In [13]:
from xgboost import XGBRegressor

In [32]:
my_model_1 = XGBRegressor(random_state=0)


my_model_1.fit(X_train_full, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             n_estimators=100, n_jobs=None, num_parallel_tree=None,
             predictor=None, random_state=0, ...)

In [34]:
predictions_1 = my_model_1.predict(X_valid_full)

In [17]:
from sklearn.metrics import mean_absolute_error

In [37]:
mae_1 = mean_absolute_error(predictions_1, y_valid)
print(mae_1)

0.0102393245

In [38]:
predictions_1

array([ 0.01729674, -0.01461649,  0.00100263, ..., -0.0079378 ,
       -0.00324117,  0.0055724 ], dtype=float32)

In [27]:
from matplotlib import pyplot as plt

In [50]:
max(predictions_1), min(predictions_1)

(0.26415566, -0.1437645)

In [52]:
max(y_train), min(y_train)

(0.282958984375, -0.1766357421875)

In [59]:
for i in range(50, 500, 50):
    my_model = XGBRegressor(n_estimators = i, tree_method="hist")
    my_model.fit(X_train_full, y_train)
    predictions = my_model.predict(X_valid_full)
    mae = mean_absolute_error(predictions, y_valid)
    print(mae)

0.010791586
0.0102393245
0.009934938
0.009701134
0.009521795
0.009365473
0.009245722
0.009136502
0.009039631

In [61]:
for i in range(1, 20, 2):
    my_model = XGBRegressor(n_estimators = 500, tree_method="gpu_hist", max_depth = i)
    my_model.fit(X_train_full, y_train)
    predictions = my_model.predict(X_valid_full)
    mae = mean_absolute_error(predictions, y_valid)
    print(mae)

0.012917555
0.010921019
0.009549043
0.008294556
0.0070089893
0.0057496587
0.0047544306
0.0042084306
0.0040723425
0.0040676156

In [19]:
opt_model =XGBRegressor(n_estimators = 500, max_depth = 20, tree_method="gpu_hist")
opt_model.fit(X_train_full, y_train)
prediction1 = opt_model.predict(X_valid_full)
mae2 = mean_absolute_error(prediction1, y_valid)
print(mae2)

0.004044556

In [25]:
y_split = np.sort(y)

In [26]:
np.array_split(y_split, 10)

[array([-0.17664073, -0.1763739 , -0.17629063, ..., -0.02422939,
        -0.02422938, -0.02422938], dtype=float32),
 array([-0.02422936, -0.02422936, -0.02422935, ..., -0.01330733,
        -0.01330732, -0.01330732], dtype=float32),
 array([-0.01330732, -0.01330732, -0.01330732, ..., -0.00714112,
        -0.00714112, -0.00714111], dtype=float32),
 array([-0.00714111, -0.0071411 , -0.0071411 , ..., -0.00268876,
        -0.00268876, -0.00268876], dtype=float32),
 array([-0.00268876, -0.00268876, -0.00268876, ...,  0.00113784,
         0.00113784,  0.00113784], dtype=float32),
 array([0.00113784, 0.00113785, 0.00113785, ..., 0.005186  , 0.005186  ,
        0.00518602], dtype=float32),
 array([0.00518602, 0.00518602, 0.00518602, ..., 0.01027312, 0.01027312,
        0.01027313], dtype=float32),
 array([0.01027313, 0.01027314, 0.01027314, ..., 0.01771007, 0.01771007,
        0.01771007], dtype=float32),
 array([0.01771007, 0.01771008, 0.01771008, ..., 0.03198757, 0.03198758,
        0.03198758], dtype=float32),
 array([0.03198759, 0.03198759, 0.0319876 , ..., 0.28255233, 0.28301778,
        0.2840675 ], dtype=float32)]

In [41]:
min0 = np.array_split(y_split, 10)[0][0]
min1 = np.array_split(y_split, 10)[1][0]
min2 = np.array_split(y_split, 10)[2][0]
min3 = np.array_split(y_split, 10)[3][0]
min4 = np.array_split(y_split, 10)[4][0]
min5 = np.array_split(y_split, 10)[5][0]
min6 = np.array_split(y_split, 10)[6][0]
min7 = np.array_split(y_split, 10)[7][0]
min8 = np.array_split(y_split, 10)[8][0]
min9 = np.array_split(y_split, 10)[9][0]

In [40]:
max0 = np.array_split(y_split, 10)[0][-1]
max1 = np.array_split(y_split, 10)[1][-1]
max2 = np.array_split(y_split, 10)[2][-1]
max3 = np.array_split(y_split, 10)[3][-1]
max4 = np.array_split(y_split, 10)[4][-1]
max5 = np.array_split(y_split, 10)[5][-1]
max6 = np.array_split(y_split, 10)[6][-1]
max7 = np.array_split(y_split, 10)[7][-1]
max8 = np.array_split(y_split, 10)[8][-1]
max9 = np.array_split(y_split, 10)[9][-1]

In [43]:
pred_sort = np.sort(prediction1)

In [44]:
np.array_split(pred_sort, 10)

[array([-0.1799645 , -0.17933868, -0.17651565, ..., -0.02290738,
        -0.02290728, -0.02290723], dtype=float32),
 array([-0.02290709, -0.02290707, -0.02290703, ..., -0.01236834,
        -0.01236833, -0.01236833], dtype=float32),
 array([-0.01236833, -0.01236831, -0.01236828, ..., -0.00656569,
        -0.00656566, -0.00656561], dtype=float32),
 array([-0.0065656 , -0.00656559, -0.00656558, ..., -0.00239878,
        -0.00239876, -0.00239873], dtype=float32),
 array([-0.00239873, -0.00239871, -0.0023987 , ...,  0.00120536,
         0.00120538,  0.00120539], dtype=float32),
 array([0.00120539, 0.00120542, 0.00120543, ..., 0.0049768 , 0.00497681,
        0.00497684], dtype=float32),
 array([0.00497685, 0.00497685, 0.00497688, ..., 0.00971133, 0.00971134,
        0.00971135], dtype=float32),
 array([0.00971138, 0.00971139, 0.0097114 , ..., 0.01679228, 0.01679228,
        0.01679229], dtype=float32),
 array([0.01679231, 0.01679232, 0.01679233, ..., 0.03065671, 0.03065672,
        0.03065677], dtype=float32),
 array([0.03065679, 0.03065679, 0.03065695, ..., 0.26984558, 0.27640024,
        0.27776143], dtype=float32)]

In [54]:
len(np.array_split(pred_sort, 10)[1])

326353

In [62]:
for i in range(10):
    count = 0
    for n in range(326353):
        
        if (np.array_split(pred_sort, 10)[i][n] < np.array_split(y_split, 10)[i][-1]) and (np.array_split(pred_sort, 10)[i][n] > np.array_split(y_split, 10)[i][0])  :
            count = count + 1
    print(count)

300394
285542
287357
301632
320133
326353
309792
294075
294807
306697